.button {
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  width: 15%;
  height: 31px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.buttonAbout {
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
  font-size: 0.8rem;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid #3F7A1A;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h2 {
  font-size: 2rem;
  color: #3F7A1A;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.buttonCenter {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Lemon', cursive;
}
.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding-top: 20px;
  margin-bottom: 25px;
}
.navigation h1 {
  font-size: 3rem;
  color: #3F7A1A;
  margin-bottom: 25px;
}
.navigation a {
  margin: 5px;
  color: #3F7A1A;
  margin-right: 20px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navigation h1 {
    font-size: 2.2rem;
  }
  .navigation a {
    margin: 10px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  background: #3F7A1A;
  color: white;
  font-size: 0.8rem;
  border-radius: 10px;
}
body {
  width: 800px;
  max-width: 99%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }
}
.btn {
  margin: 10px;
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  width: 15%;
  height: 31px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn a {
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  .btn {
    margin: 10px;
    background-color: #3F7A1A;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    width: 15%;
    height: 31px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
}
.btn:hover {
  background-color: #3F7A1A;
  color: yellow;
}
.thrive p {
  display: flex;
  justify-content: left;
}
.thrive .btn {
  display: flex;
  justify-content: center;
}
.plants p {
  display: flex;
  justify-content: left;
}
.plantImg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.plantImg img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.plantBanner {
  display: flex;
}
.plantBanner img {
  width: 100%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.topics {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.boxes div {
  display: flex;
  flex-wrap: wrap;
  width: 37%;
  padding: 20px;
  margin: 10px;
}
h3 {
  margin: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: red;
}
p {
  font-size: 0.8rem;
}
.btnn {
  margin: 10px;
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  align-content: space-evenly;
  flex-wrap: wrap;
  font-size: 0.8rem;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
}
.btnn a {
  display: inline-block;
  justify-content: center;
  text-decoration: none;
}
.btnn:hover {
  background-color: #3F7A1A;
  color: yellow;
}
.tabs {
  border-bottom: 1px solid #3F7A1A;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 47px;
  background-color: white;
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  color: #3F7A1A;
  border: 1px dotted #3F7A1A;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  border: 1px dotted red;
  color: #3F7A1A;
}
.bios {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
.bios .card {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  border: 2px solid #3F7A1A;
  width: 200px;
  margin-bottom: 16px;
  padding: 24px;
}
.bios .img-container {
  padding-right: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.bios .img-container img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
