.button {
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  width: 40%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.buttonAbout {
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  width: 40%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h2 {
  font-size: 2.5rem;
  color: #3F7A1A;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
p {
  font-size: 1.2rem;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.buttonCenter {
  display: flex;
  justify-content: center;
}
.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  padding-top: 20px;
  margin-left: 125px;
  margin-bottom: 25px;
}
.navigation h1 {
  font-size: 5rem;
  color: #3F7A1A;
  margin-bottom: 25px;
}
.navigation a {
  margin: 20px;
  color: black;
  margin-left: 50px;
}
@media (max-width: 500px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navigation h1 {
    font-size: 3rem;
  }
  .navigation a {
    margin: 10px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  background: #3F7A1A;
  color: white;
  padding: 25px;
  font-size: 0.1ssrem;
  border-radius: 10px;
}
body {
  width: 800px;
  margin: 0 auto;
  border: 5px solid yellow;
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }
}
.btn {
  margin: 10px;
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  width: 40%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn:hover {
  background-color: #3F7A1A;
  color: yellow;
}
.thrive p {
  display: flex;
  justify-content: left;
}
.thrive .btn {
  display: flex;
  justify-content: center;
}
.plants p {
  display: flex;
  justify-content: left;
}
.plantImg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.plantImg img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.plantBanner {
  display: flex;
}
.plantBanner img {
  width: 100%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.tester {
  display: flex;
}
.tester .boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.tester .boxes div {
  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid black;*/
  border-bottom: 2px dashed black;
  width: 37%;
  padding: 20px;
  margin: 10px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
}
.boxes div {
  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid black;*/
  border-bottom: 2px dashed red;
  width: 50%;
  padding: 20px;
  margin: 10px;
}
img {
  width: 500px;
  length: 500px;
  padding-bottom: 20px;
}
.btnn {
  margin: 10px;
  background-color: #3F7A1A;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  width: 40%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
