// .bios {
// 	display: flex;
// 	// flex-wrap: wrap;
// 	// justify-content: center;

// 	.boxes {
// 		display: flex;
// 		flex-wrap: wrap;
// 		width: 25%;
// 		padding: 20px;
	

// 		.boxes div {
// 			display: flex;
// 			flex-wrap: wrap;
// 		/*border: 2px solid black;*/
// 		//  border-bottom: 2px dashed red;
// 			width: 37%;
// 			padding: 20px;
// 			margin: 10px;
// 		}

// 	img {
// 		width: 500px;
// 		length: 500px;
// 	}
// }
// // }

.boxes {
	display: flex;
	flex-wrap: wrap;
	/* padding: 10px; */
	justify-content: space-between;
}

.boxes div {
    display: flex;
    flex-wrap: wrap;
	/*border: 2px solid black;*/
	//  border-bottom: 2px dashed red;
    width: 37%;
    padding: 20px;
		margin: 10px;
  }

img {
	width: 500px;
	length: 500px;
	padding-bottom: 20px;
}

h3 {
	margin: 10px;
	font-size: 1rem;
	// display: flex;
	// justify-content: space-around;
	color: red;
}

p {
	font-size: .8rem;
}

.btnn {
	margin: 10px;
	.buttonAbout();
	// display: flex;
	// justify-content: space-between;
}

.btnn:hover {
	background-color: @plant;
	color: yellow;
}