
.boxes {
	display: flex;
	flex-wrap: wrap;
	/* padding: 10px; */
}

.boxes div {
    display: flex;
    flex-wrap: wrap;
	/*border: 2px solid black;*/
	  border-bottom: 2px dashed red;
    width: 50%;
    padding: 20px;
    margin: 10px;
  }

img {
	width: 500px;
	length: 500px;
	padding-bottom: 20px;
}

.btnn {
	margin: 10px;
	.buttonAbout();
}

// .btnn:hover {
// 	background-color: @plant;
// 	color: yellow;
// }