h2 {
    font-size: 2.5rem;
    color: @plant;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

p {
    font-size: 1.6rem;
    line-height: 1.4;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.buttonCenter {
    display: flex;
    justify-content: center;

}