body {
    width: 800px;
    margin: 0 auto;
    border: 5px solid yellow;

    @media @phone {
        max-width: 500px;
        margin: 0 auto;
    }
}

.btn {
    margin: 10px;
    .button(); 
}

.btn:hover {
    background-color: @plant;
    color: yellow;
}

.thrive {
   p { 
    display: flex;
    justify-content: left;
   }

   .btn {
    display: flex;
    justify-content: center;
   }
}

.plants {
    p {
      display: flex;
      justify-content: left;  
    }
}



.plantImg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
        width: 28%;
        margin: 20px 2.5%;
        border-radius: 20px;
        height: 100%; 
     }
}

.plantBanner {
    display: flex; 
    

    img {
        width: 100%;
        margin: 20px 2.5%;
        border-radius: 20px;
        height: 100%; 
     }
   
}

.tester {
    display: flex;

    .boxes {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
    }
    
    .boxes div {
        display: flex;
        flex-wrap: wrap;
        /*border: 2px solid black;*/
        border-bottom: 2px dashed black;
        width: 37%;
        padding: 20px;
        margin: 10px;
      }
    
  
}