body {
    width: 800px;
    margin: 0 auto;

    @media @phone {
        max-width: 500px;
        margin: 0 auto;
    }
}

.btn {
    margin: 20px;
    .button ();  
}

.btn:hover {
    background-color: #3F7A1A;
    color: yellow;
}

.thrive {
   p { 
    display: flex;
    justify-content: left;
   }

   .btn {
    display: flex;
    justify-content: center;
   }
}

.plants {
    p {
      display: flex;
      justify-content: left;  
    }
}

img {
   width: 28%;
   margin: 20px 2.5%;
   border-radius: 20px;
   height: 100%; 
}

.plantImg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.plantBanner {
    width: 100%;
    display: flex;
}